body {
    width: 100%;
    margin: 0;
    font-family: 'Overpass', 'Open Sans', Helvetica, Arial, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #2d2d2d;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.icon {
    width: 35px;
    padding: 12px 20px 5px 20px;
    background-color: #e33e42;
    margin: 0;
}

.org-name p {
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 20px 0 20px 20px;
    font-family: 'Crimson Text',"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}


.org-name a {
    text-decoration: none;
}

.icon-wrapper {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.icon-wrapper:hover .icon{
    background-color: #a12a2c;
}

.links-wrapper {
    position: relative;
    width: 60%;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    float: right;
}

.course-nav:hover {
    background-color: #1d1d1d;
    cursor: pointer;
}

.course-nav:hover .course-tab {
    display: flex;
}


.links-wrapper a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 0px 15px 0px 15px;
    font-family: 'Overpass';
    font-weight: bold;
    outline: none;
}

.schedule-button {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Overpass';
    font-weight: bold;
    outline: none;
    display: inline-block;
    background-color: #348db9;
    border-left: 4px solid white;
    width: 225px;
    padding: 26px 10px 0 10px;
    text-align: center;
}

.schedule-button:hover {
    background-color: #43afe6;
}


.apply-button {
    display: inline-block;
    background-color: #e33e42;
    border-left: 4px solid white;
    width: 135px;
    padding: 26px 10px 0 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Overpass';
    font-weight: bold;
    outline: none;
}

.apply-button:hover {
    background-color: #a12a2c;
}

.course-tab {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 74px;
    width: 100vw;
    left: -52%;
    padding:0 200px 0 0;
    background-color:#1d1d1d;
    color: white;
}

.nav-link {
    margin:26px 0 26px 0;
    padding-bottom: 0;
}

.course-tab ul {
    list-style-type: "- ";
    font-size: 15px;
    padding: 0 0 0 7px;
    margin: 0;
}

.course-tab li {
    font-weight: 300;
}

.course-tab h2 {
    font-size: 16px;
    margin: 0;
}

.tab-item {
    padding: 25px 5px 45px 0; 
}

.tab-item a {
    padding: 0;
}

.right-course {
    margin : 25px 0 0 0;
}

.tab-item a:hover{
    color: #0090d8;
}

.admissions-nav {
    position: relative;
}

.admissions-tab {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 0px;
    top: 74px;
    width: 250px;
    background-color:#1d1d1d;
    color: white;
}

.admissions-tab a {
    padding: 7px 0 7px 10px;
    font-size: 15px;
    font-weight: 300;

}

.tab-b{
    background-color: #e33e42;
    z-index: 40;
}

.tab-b:hover {
    background-color: #a12a2c;
}

.admissions-nav:hover {
    background-color: #1d1d1d;
    cursor: pointer;
}

.admissions-nav:hover .admissions-tab {
    display: flex;
}

.tab-a:hover {
    background-color: #414040;
}

.veterans-nav {
    position: relative;
}

.veterans-tab {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 0px;
    top: 74px;
    width: 250px;
    background-color: #1d1d1d;
    color: white;
}

.veterans-tab a {
    padding: 7px 0 7px 10px;
    font-size: 15px;
    font-weight: 300;

}

.veterans-nav:hover {
    background-color: #1d1d1d;
    cursor: pointer;
}

.veterans-nav:hover .veterans-tab {
    display: flex;
}

.veterans-tab a:hover {
    background-color: #414040;
}

.about-nav {
    position: relative;
}

.about-tab {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 0px;
    top: 74px;
    width: 250px;
    background-color:#1d1d1d;
    color: white;
}

.about-tab a {
    padding: 7px 0 7px 10px;
    font-size: 15px;
    font-weight: 300;

}

.about-nav:hover {
    background-color: #1d1d1d;
    cursor: pointer;
}

.about-nav:hover .about-tab {
    display: flex;
}

.about-tab a:hover {
    background-color: #414040
}

.campus-nav {
    position: relative;
}

.campus-tab {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 0px;
    top: 74px;
    width: 250px;
    background-color:#1d1d1d;
    color: white;
}

.campus-tab a {
    padding: 7px 0 7px 10px;
    font-size: 15px;
    font-weight: 300;
}

.campus-nav:hover {
    background-color: #1d1d1d;
    cursor: pointer;
}

.campus-nav:hover .campus-tab {
    display: flex;
}

.campus-tab a:hover {
    background-color: #414040
}

.employers-nav {
    position: relative;
}

.employers-tab {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 0px;
    top: 74px;
    width: 250px;
    background-color:#1d1d1d;
    color: white;
}

.employers-tab a {
    padding: 7px 0 7px 10px;
    font-size: 15px;
    font-weight: 300;
}

.employers-nav:hover {
    background-color: #1d1d1d;
    cursor: pointer;
}

.employers-nav:hover .employers-tab {
    display: flex;
}

.employers-tab a:hover {
    background-color: #414040
}

.home-wrapper {
    background-color: #efefef;
    position: relative;
}


.home-wrapper video {
    margin: 0;
    width: 100%;
}

.down-chevron {
    position: absolute;
    bottom: 0;
    font-size: 65px;
    left: 48%;
}

.down-chevron a i {
    color: #e0dede;
    box-shadow: 0px 0px 20px black;
    border-radius: 50%;
}

.down-chevron a i:hover {
    color: #e33e42;
}

.intro {
    position: absolute;
    top: 45%;
    left: 25%;
}

.intro h1 {
    font-size: 55px;
    font-weight: 900;
    word-spacing: 7px;
    background-color: #000000ab;
    color: white;
    padding: 5px 25px 5px 25px;
    margin: 20px 0 20px 0;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
}

.intro a {
    background: #e33e42;
    border: 0;
    color: white;
    font-size: 32px;
    padding: 5px 25px 5px 25px;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.intro a:hover {
    background-color: #a12a2c;
}

.chat-bubbles {
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 25;
}

.chat-bubbles a {
    color: white;
    text-decoration: none;
}

.chat-box-1 {
    width: 245px;
    background-color: black;
    margin: 0 0 15px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
}

.chat-box-1:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #000000;
    border-top: 10px solid #000000;
    border-bottom: 10px solid transparent;
    bottom: 40px;
    left: 225px;
}

.chat-box-1 i {
    display: none;
    position: absolute;
    color: #e4e4e4f3;
    left: 242px;
    bottom: 110px;
    
}

.chat-box-1 h3 {
    margin: 0 15px 0 15px;
    padding: 10px 0 0 0;
}

.chat-box-1 p {
    margin: 0 15px 0 15px;
    padding: 0 0 10px 0;
}

.chat-box-1:hover i {
    display: block;
}

.chat-box-2 {
    display: inline-block;
    width: 250px;
    background-color: #e33e42;
    border-radius: 3px;
    padding: 5px 0 5px 0;
}

.chat-box-2 a {
    color: white;
}

.chat-box-2 p {
    width: 80%;
    margin: 0;
    display: inline-block;
    padding: 0 0 0 15px;
}

.chat-box-2 i{
    width: 10%;
    margin: 1 0 0 0;
    font-size: 20px;
    padding: 5px 5px 5px 0;
}

.hovered-chat {
    display: none;
    position: absolute;
    top: 84px;
    right: 9px;
}

.hovered-chat i{
    font-size: 25px;
}

.bubble-wrapper-2:hover .hovered-chat {
    display: block;
    padding-bottom: 5px;
}

.chat-dots{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -50px;
    left: 3px;
}

.chat-dot-1 {
    display: block;
    position: absolute;
    top: 0;
    right: -6px;
    animation-name: dotAnimation;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-timing-function: ease;
}

.chat-dot-2{
    position: absolute;
    top: 0;
    right: -13px;
    animation-name: dotAnimation;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
}

.chat-dot-3 {
    position: absolute;
    top: 0px;
    right: -20px;
    animation-name: dotAnimation;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-timing-function: ease;
}

@keyframes dotAnimation {
    0% {top:-2px;}
    100% {top:0;}
}

.chat-dots p {
    color: purple;
    font-size: 30px;

}

#course-info {
    background-color: #efefef;
    padding: 75px 0 80px 0;
}

#course-info h1 {
    text-align: center;
    font-size: 62px;
    font-weight: 800;
    word-spacing: 5px;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    color: #348db9;
    margin: 0;
}

.course-info-cards {
    display: flex;
    flex-direction: row;
    padding: 0 10% 0 10%;
}

.course-info-cards h2 {
    color: #2d2d2d;
    font-size: 36px;
}

.course-info-cards p {
    color: #676767;
    font-size: 21px;
}

.call-to-action {
    background-color: #e33e42;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.call-to-action p {
    color: white;
    padding: 8px 0 8px 0;
    margin: 0;
}

.card-1, .card-2, .card-3 {
    background-color: white;
    margin: 0 8px 0 8px;
    position: relative;
    width: 33%;
    text-decoration: none;
}

.card-1:hover {
    background-color: #d6d2d2;
}

.card-2:hover {
    background-color: #d6d2d2;
}

.card-3:hover {
    background-color: #d6d2d2;
}

.card-1:hover .call-to-action {
    background-color: #a12a2c;
}

.card-2:hover .call-to-action{
    background-color: #a12a2c;
}

.card-3:hover .call-to-action{
    background-color: #a12a2c;
}

.card-wrapper {
    padding: 0 30px 60px 30px; 
}

.card-wrapper h2{
    line-height: 45px;
    margin: 20px 0 20px 0;
}

.card-wrapper p {
    margin: 0 0 50px 0;
}


.about-efa {
    display: flex;
    flex-direction: row;
    padding: 50px 18% 50px 18%;
}

.img-wrapper {
    padding-top: 35px;
}

.about-info-wrapper {
    padding: 0 40px 0 40px;
}
.about-efa h2 {
    color: #348db9;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
}

.about-efa p {
    color: #676767;
    font-size: 21px;
    font-weight: 300;
}

/* Media Queries */

@media only screen and (min-width: 1601px) {   
   
    .course-info-cards {
        padding: 0 17% 0 17%;
    }
   
    .about-efa {
        padding: 50px 20% 50px 20%;
    }
}

@media only screen and (max-width: 1600px) {   

    .intro {
        left: 20%;
    } 
   
    .course-info-cards {
        padding: 0 12% 0 12%;
    }
   
    .about-efa {
        padding: 50px 20% 50px 20%;
    }
}

@media only screen and (max-width: 1400px) {

 .intro {
     left: 15%;
 }    

 .course-info-cards {
     padding: 0 7% 0 7%;
 }

 .about-efa {
     padding: 50px 15% 50px 15%;
 }
}