body {
    width: 100%;
    margin: 0;
    font-family: 'Overpass', 'Open Sans', Helvetica, Arial, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #2d2d2d;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.icon {
    width: 35px;
    padding: 12px 20px 5px 20px;
    background-color: #e33e42;
    margin: 0;
}

.org-name p {
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 25px 0 25px 20px;
    font-family: 'Crimson Text',"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

.org-name a {
    text-decoration: none;
}

.icon-wrapper {
    display: flex;
    flex-direction: row;
    width: 55%;
}

.links-wrapper {
    display: flex;
    flex-direction: row;
    width: 45%;
    padding: 25px 0 0 105px;
    float: right;
}

.links-wrapper a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 25px 15px 25px 15px;
    font-family: 'Overpass';
    font-weight: bold;
    outline: none;
}

.schedule-button {
    display: inline-block;
    background-color: #348db9;
    border-left: 4px solid white;
    width: 225px;
    padding: 25px 10px 0 10px;
    text-align: center;
}

.schedule-button a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Overpass';
    font-weight: bold;
    outline: none;
    padding: 25px 0 25px 0;
}

.apply-button {
    display: inline-block;
    background-color: #e33e42;
    border-left: 4px solid white;
    width: 135px;
    padding: 25px 10px 0 10px;
    text-align: center;
}

.apply-button a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 25px 10px 25px 10px;
    font-family: 'Overpass';
    font-weight: bold;
    outline: none;
}

.home-wrapper {
    background-color: #efefef;
}


.home-wrapper video {
    margin: 0;
    width: 100%;
}

.down-chevron {
    position: absolute;
    bottom: -90px;
    font-size: 65px;
    left: 48%;
}

.down-chevron a i {
    color: #e0dede;
}

.intro {
    position: absolute;
    top: 450px;
    left: 25%;
}

.intro h1 {
    font-size: 55px;
    font-weight: 900;
    word-spacing: 7px;
    background-color: #000000ab;
    color: white;
    padding: 5px 25px 5px 25px;
    margin: 20px 0 20px 0;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
}

.intro a {
    background: #e33e42;
    border: 0;
    color: white;
    font-size: 32px;
    padding: 5px 25px 5px 25px;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.chat-bubbles {
    position: fixed;
    bottom: 0;
    right: 15px;
}

.chat-bubbles a {
    color: white;
    text-decoration: none;
}

.chat-box-1 {
    width: 245px;
    background-color: black;
    margin: 0 0 15px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
}

.chat-box-1:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #000000;
    border-top: 10px solid #000000;
    border-bottom: 10px solid transparent;
    bottom: 40px;
    left: 225px;
}

.chat-box-1 i {
    position: absolute;
    color: #0000008c;
    left: 242px;
    bottom: 115px;
    
}

.chat-box-1 h3 {
    margin: 0 15px 0 15px;
    padding: 10px 0 0 0;
}

.chat-box-1 p {
    margin: 0 15px 0 15px;
    padding: 0 0 10px 0;
}
.chat-box-2 {
    display: inline-block;
    width: 250px;
    background-color: #e33e42;
    border-radius: 3px;
    padding: 5px 0 5px 0;
}

.chat-box-2 a {
    color: white;
}

.chat-box-2 p {
    width: 80%;
    margin: 0;
    display: inline-block;
    padding: 0 0 0 15px;
}

.chat-box-2 i{
    width: 10%;
    margin: 1 0 0 0;
    font-size: 20px;
    padding: 5px 5px 5px 0;
}

#course-info {
    background-color: #efefef;
    padding: 75px 0 80px 0;
}

#course-info h1 {
    text-align: center;
    font-size: 62px;
    font-weight: 800;
    word-spacing: 5px;
    font-family: 'Overpass', Helvetica, Arial, sans-serif;
    color: #348db9;
    margin: 0;
}

.course-info-cards {
    display: flex;
    flex-direction: row;
    padding: 0 18% 0 18%;
}

.course-info-cards h2 {
    color: #2d2d2d;
    font-size: 36px;
}

.course-info-cards p {
    color: #676767;
    font-size: 21px;
}

.call-to-action {
    background-color: #e33e42;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.call-to-action p {
    color: white;
    padding: 8px 0 8px 0;
    margin: 0;
}

.card-1, .card-2, .card-3 {
    background-color: white;
    margin: 0 8px 0 8px;
    position: relative;
    width: 33%;
    text-decoration: none;
}

.card-wrapper {
    padding: 0 30px 80px 30px; 
}

.card-wrapper h2{
    line-height: 45px;
    margin: 20px 0 20px 0;
}

.card-wrapper p {
    margin: 0 0 50px 0;
}


.about-efa {
    display: flex;
    flex-direction: row;
    padding: 50px 25% 50px 25%;
}

.img-wrapper {
    padding-top: 35px;
}

.about-info-wrapper {
    padding: 0 40px 0 40px;
}
.about-efa h2 {
    color: #348db9;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
}

.about-efa p {
    color: #676767;
    font-size: 21px;
    font-weight: 300;
}